/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 $primary: #1e8d36;

 @use "bootstrap";
 
 body {
   padding-top: 56px; /* Adjust this if your navbar height is different */
   background-color: #f2f2ed;
   box-sizing: border-box;
   color: #33322e;
   letter-spacing: var(--letter-space);
   margin: 0 auto;
 }